*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #26292b;
}
.left-menu-bar{
    height: 765px;
    background-color: black;
}
.logo{
    margin-bottom: 3rem;
}
.menu-item{
    text-decoration: none;
    color: white;
    margin-top: 3rem;
    width: 3rem;
}
.menu-item:hover{
    background-color: red;
    width: 3rem;
}
.food-card-chinese{
    height: 16rem;
    margin: 3rem 0;
    background-image: url('../images/pexels-photo-2347311.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: xx-large;
    border-radius: 20px;
}
.food-card-burgar{
    height: 16rem;
    margin: 3rem 0;
    background-image: url('.https://freepngimg.com/thumb/sandwich/67365-and-cheese-sandwich-hamburger-ham-king-food.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: xx-large;
    border-radius: 20px;   
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
}
