@font-face {
	font-family: "Gilroy";
	src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot");
	src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff") format("woff"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.svg#Gilroy") format("svg");
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 2.5),rgba(0, 0, 0, 2.5)), url("../images/login-signup-bgimg.png");
    background-repeat: no-repeat;
   	background-size: cover;
   	font-family: "Gilroy";
}
.card{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card-body{
    position: fixed;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    height: 28rem;
    width: 46rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(255, 255, 255, 1.99) 0px 5px 15px;
	border-radius: 40px;
}

h2{
    font-size: 45px;
}
h4{
    margin-bottom: 10px;
    color: rgb(218, 207, 207);
}
input{
    margin: 0 1rem;
}
.first-name,.last-name,.username{
    margin-bottom: 1rem;
    padding-left: 15px;
    color: #fff;
    border-bottom: 3px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 179px;
    height: 3rem;
}
.phone,.email,.password,.confirm-password,.chef-code{
	margin-bottom: 1rem;
    padding-left: 15px;
    color: #fff;
    border-bottom: 3px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 18rem;
    height: 3rem;
}
.first-name::placeholder,.last-name::placeholder,.username::placeholder,.phone::placeholder,.email::placeholder,.password::placeholder,.confirm-password::placeholder,.chef-code::placeholder{
	color: #fff;
}

.first-name:focus,.last-name:focus,.username:focus,.email:focus,.phone:focus,.password:focus,.confirm-password:focus,.chef-code:focus{
    outline: none;
}
.first-name:focus::placeholder,.last-name:focus::placeholder,.username:focus::placeholder,.phone:focus::placeholder,.email:focus::placeholder,.password:focus::placeholder,.confirm-password:focus::placeholder,.chef-code:focus::placeholder{
	color: rgb(151, 138, 138);
}

.sign-up-btn {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 12px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-radius: 8px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sign-up-btn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  background-color: red;
  color: #fff;
}

.sign-up-btn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.login-text{
	color: white;
    margin: 1rem 0;
}
.login-link{
	color: #fff;
}
.login-link:hover{
	color: red;
}