@font-face {
    font-family: "Gilroy";
    src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot");
    src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff") format("woff"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.svg#Gilroy") format("svg");
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)), url("../images/login-signup-bgimg.png");
    background-image: linear-gradient(#000, #000), url("../images/login-signup-bgimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gilroy";
}
.card {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.card-body {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    height: 31rem;
    width: 46rem;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: #fff 0px 5px 15px;
    box-shadow: #fff 0px 5px 15px;
    border-radius: 40px;
}
h2 {
    font-size: 45px;
}
h4 {
    margin-bottom: 10px;
    color: #dacfcf;
}
input {
    margin: 0 1rem;
}
.first-name,
.last-name,
.username,
.phone,
.email,
.password,
.confirm-password,
.chef-code {
    margin-bottom: 1rem;
    padding-left: 15px;
    color: #fff;
    border-bottom: 3px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 18rem;
    height: 3rem;
}
.first-name::-webkit-input-placeholder,
.last-name::-webkit-input-placeholder,
.username::-webkit-input-placeholder,
.phone::-webkit-input-placeholder,
.email::-webkit-input-placeholder,
.password::-webkit-input-placeholder,
.confirm-password::-webkit-input-placeholder,
.chef-code::-webkit-input-placeholder {
    color: #fff;
}
.first-name:-ms-input-placeholder,
.last-name:-ms-input-placeholder,
.username:-ms-input-placeholder,
.phone:-ms-input-placeholder,
.email:-ms-input-placeholder,
.password:-ms-input-placeholder,
.confirm-password:-ms-input-placeholder,
.chef-code:-ms-input-placeholder {
    color: #fff;
}
.first-name::-ms-input-placeholder,
.last-name::-ms-input-placeholder,
.username::-ms-input-placeholder,
.phone::-ms-input-placeholder,
.email::-ms-input-placeholder,
.password::-ms-input-placeholder,
.confirm-password::-ms-input-placeholder,
.chef-code::-ms-input-placeholder {
    color: #fff;
}
.first-name::placeholder,
.last-name::placeholder,
.username::placeholder,
.phone::placeholder,
.email::placeholder,
.password::placeholder,
.confirm-password::placeholder,
.chef-code::placeholder {
    color: #fff;
}
.first-name:focus,
.last-name:focus,
.username:focus,
.email:focus,
.phone:focus,
.password:focus,
.confirm-password:focus,
.chef-code:focus {
    outline: none;
}
.first-name:focus::-webkit-input-placeholder,
.last-name:focus::-webkit-input-placeholder,
.username:focus::-webkit-input-placeholder,
.phone:focus::-webkit-input-placeholder,
.email:focus::-webkit-input-placeholder,
.password:focus::-webkit-input-placeholder,
.confirm-password:focus::-webkit-input-placeholder,
.chef-code:focus::-webkit-input-placeholder {
    color: #978a8a;
}
.first-name:focus:-ms-input-placeholder,
.last-name:focus:-ms-input-placeholder,
.username:focus:-ms-input-placeholder,
.phone:focus:-ms-input-placeholder,
.email:focus:-ms-input-placeholder,
.password:focus:-ms-input-placeholder,
.confirm-password:focus:-ms-input-placeholder,
.chef-code:focus:-ms-input-placeholder {
    color: #978a8a;
}
.first-name:focus::-ms-input-placeholder,
.last-name:focus::-ms-input-placeholder,
.username:focus::-ms-input-placeholder,
.phone:focus::-ms-input-placeholder,
.email:focus::-ms-input-placeholder,
.password:focus::-ms-input-placeholder,
.confirm-password:focus::-ms-input-placeholder,
.chef-code:focus::-ms-input-placeholder {
    color: #978a8a;
}
.first-name:focus::placeholder,
.last-name:focus::placeholder,
.username:focus::placeholder,
.phone:focus::placeholder,
.email:focus::placeholder,
.password:focus::placeholder,
.confirm-password:focus::placeholder,
.chef-code:focus::placeholder {
    color: #978a8a;
}
.sign-up-btn {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 12px;
    outline: none;
    padding: 0.75rem;
    text-decoration: none;
    -webkit-transition: all 235ms ease-in-out;
    transition: all 235ms ease-in-out;
    border-radius: 8px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.sign-up-btn:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
    background-color: red;
    color: #fff;
}
.sign-up-btn:focus {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.login-text {
    color: white;
    margin: 1rem 0;
}
.login-link {
    color: #fff;
}
.login-link:hover {
    color: red;
}
